.pagination__container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.pagination {
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  cursor: pointer;
}

.active {
  background-color: #f4f5fa;
  border-radius: 50%;
}

.page__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 29px;
  height: 100%;
}

.page__item a {
  width: 29px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
