.input__form__modal {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  height: "21px";
  width: "174px";
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 5px;
}

@media screen and (max-width: 746px) {
  .input__form__modal {
    width: "100px";
  }
}
